Bitwarden\ CLI/
Code \-\ OSS/
GIMP/
JetBrains/
VSCodium/
chromium/
dconf/
fontforge/
geeqie/
google-chrome/
gtk-2.0/
libreoffice/
menus/
mimeapps.list
neofetch/
pulse/
spotify/
xfce4/
Thunar/
cef_user_data/
configstore/
galculator/
geany/
nextjs-nodejs/
